.section-title Wellcome to My CV
  button.disc
    i.icon__youtube
    span.button-text YT
  h1 Timotei Dumitru
  h2 Web Developer
  h3 About me
  .description-box__with-shadow
    p My problem-solving ability is applied throughout all aspects of my life, and I am continuously seeking to gain knowledge. 
    p When not gaining this knowledge in a coding environment, I am an advocate for self-improvement and am always striving to better my physical and mental health.
  button.pill
    i.icon__download
    span.button-text Download CV