.column(span="row")
  .section__title-wrapper
    .section__title Welcome to My CV
.column(span="row")
  button.disc
    i.icon__youtube
    span.button-text YT
.column(span="row")      
  h1 Timotei Dumitru
.column(span="row")    
  h2 Web Developer
.column(span="row")    
  h3 About me
.column(span="row")    
  .description-box__with-shadow
    p My problem-solving ability is applied throughout all aspects of my life, and I am continuously seeking to gain knowledge. 
    p When not gaining this knowledge in a coding environment, I am an advocate for self-improvement and am always striving to better my physical and mental health.
.column(span="row")    
  button.pill
    i.icon__download
    span.button-text Download CV
.column(span="row")
  button.disc
    i.icon__arrow-down
    span.button-text DW