.column(span="row")
  .section__title-wrapper
    .section__title Welcome to My CV
.column(span="row" height="10")
.column(span="row")
  button.button__disc-red
    i.icon__youtube
.column(span="row" height="10")
.column(span="row")      
  h1.about-me__main-title Timotei Dumitru
.column(span="row")    
  h2.about-me__sub-title Web Developer
.column(span="row" height="10")
.column(span="row")    
  h3.about-me__lead-title About me
.column(span="row")    
  .description-box__with-shadow
    p.description My problem-solving ability is applied throughout all aspects of my life, and I am continuously seeking to gain knowledge. 
    p.description When not gaining this knowledge in a coding environment, I am an advocate for self-improvement and am always striving to better my physical and mental health.
.column(span="row" height="10")    
.column(span="row")    
  button.button__pill-blue
    i.icon__download
    span.button-text Download CV
.column(span="row" height="10")    
.column(span="row")
  button.button__disc-green
    i.icon__arrow-down
.column(span="row" height="10")
    